
{% if collection %}
	
	{% if title == blank %}
		{% assign title = collection.title %}
	{% endif %}

	<section id={{ title | replace: " " , "_"  }} class="collection">

		{% if title != blank %}
			<h2>{{ title }}</h2>
		{% else %}
			<h2>{{ collection.title }}</h2>
		{% endif %}

		<table>
			<thead>
				<td><b>Product</b></td>
				<td><b>Price</b></td>
			</thead>
			
			<tbody>
				{% for product in collection.products %}
					<tr>
						<td><a href="{{ product.url }}">{{ product.title }}</a></td>
						<td>{{ product.price | money }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</section>
{% else %}
	<i>No collection selected. </i>
{% endif %}
