
{% if collection %}
	
	{% if title == blank %}
		{% assign title = collection.title %}
	{% endif %}

	<section id={{ title | replace: " " , "_"  }} class="collection">

		{% if title_link %}
			<h2><a href="{{ collection.url }}">{{ title }}</a></h2>
		{% else %}
			<h2>{{ title }}</h2>
		{% endif %}

		<table>
			<thead>
				<td><b><a href="{{ request.path | sort_by: 'title-descending' }}">Product</a></b></td>
				<td><b><a href="{{ request.path | sort_by: 'price-descending' }}">Price</a></b></td>
			</thead>
			
			<tbody>
				{% for product in collection.products %}
					<tr onclick="document.location = '{{ product.url }}'">
						<td><a href="{{ product.url }}">{{ product.title }}</a></td>
						<td>{{ product.price | money }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</section>
{% else %}
	<i>No collection selected. </i>
{% endif %}
