{% form 'cart', cart %}

	<h1>Cart</h1>

	{% if cart.empty? %}
		<p>No products selected.</p>
		
	{% else %}
		<table>
			<thead>
				<td>Quantity</td>
				<td>Product</td>
				<td>Price</td>
			</thead>
			<tbody>
				{% for item in cart.items %}
					<tr>
						<td>{{ item.quantity }}</td>
						<td><a href="{{ item.url }}">{{ item.title }}</a> <a href="{{ item.url_to_remove }}">Remove?</a></td>
						<td>{{ item.final_line_price | money }}</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<td></td>
				<td>Total</td>
				<td>{{ cart.total_price | money }}</td>
			</tfoot>
		</table>

		<button type="submit" name="checkout">Checkout</button>
	{% endif %}

{% endform %}