{% form 'cart', cart %}

	<h1>Cart</h1>

	{% if cart.empty? %}
		<p>No products selected.</p>
		
	{% else %}
		<table>
			{% for item in cart.items %}
				<tr>
					<td>{{ item.quantity }}</td>
					<td><a href="{{ item.url }}">{{ item.title }}</a> <a href="{{ item.url_to_remove }}">Remove?</a></td>
					<td>{{ item.final_line_price | money }}</td>
				</tr>
			{% endfor %}
		</table>

		<p>Total: <b>{{ cart.total_price | money }}</b></p>

		<button type="submit" name="checkout">Checkout</button>
	{% endif %}

{% endform %}