<h1>{{ product.title }}</h1>
<b>{{ product.price | money }}</b>

<img src="{{ product.images.first | image_url: width: 200 }}" width="200" height="auto"/>

<div>{{ product.description }}</div>

{% form 'product', product %}
	<select name="id">
		{% for variant in product.variants %}
			<option value={{ variant.id }}>{{ variant.title }}</option>
		{% endfor %}
	</select>

	<button type="submit">Add</button>
{% endform %}